@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

body {
  overflow-x: hidden;
  scroll-behavior: smooth;
  font-family: 'Roboto', sans-serif;
  background-color: black;
}

* {
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 12px;
  background-color: #191919;
}


/* Handle */
::-webkit-scrollbar-thumb {
  background: #191919;
  border: 3px solid #FF4949;
  border-radius: 10vw;
}

ul {
  display: flex;
  width: 100%;
}

ul li a {
  color: white;
  text-decoration: none;
  padding: 10px;
}



#front {
  background: url("./marc-noorman-htp5A-elyvY-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
}

header {
  top: 0;
  left: 0;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.6s;
  padding: 40px 100px;
}


header ul {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

header ul li {
  position: relative;
}

header ul li a {
  position: realtive;
  margin: 0 15px;
  letter-spacing: 2px;
  transition: 0.6s;
}

header:nth-child(1) {
  position: relative;
  font-size: 1.6rem;
  transition: 0.6s;
}

header:nth-child(1) a {
  font-family: 'Concert One', cursive;
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
  cursor: pointer;
}

ul li {
  list-style: none;
}

.hover-underline-animation:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #F90716;
  transform-origin: center;
  transition: transform 0.40s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: center;
}




#head {
  color: white;
  font-family: 'Quicksand', sans-serif;
  position: absolute;
  top: 8px;
  left: 16px;
  margin-top: 6rem;
}



#join {
  display: flex;
}

#head h1 {
  font-size: 9rem;
  padding: 2px;
}

#head p {
  padding: 10px;
  font-size: 20px;
}


@media screen and (max-width:570px) {

  nav {
    display: none;
  }

  #head h1 {
    font-size: 5rem;
    padding: 1px;
  }

  #head p {
    margin: 8px;
    font-size: 18px;
    text-align: center;
  }
}


#about {
  display: grid;
  place-items: center;
}


#gallery {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

#gallery div {
  width: 400px;
  height: 320px;
  padding: 5px;
}

#gallery div img {
  width: 100%;
  height: 100%;
}

#contact {
  padding: 10px;
  position: relative;
}

#feedback {
  position: absolute;
  width: 10vw;
  top: 0;
  right: 0;
  margin-top: 20rem;
  background-color: white;
}

#contact_img>iframe {
  width: 100vw;
  height: 100vh;
}


#nav_one {
  width: 100vw;
}